@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  display: block;
  width: 100%;
  height: 3em;
  padding: 16px 8px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background: rgba(255, 255, 255, 0.97);
  color: #212121;
  outline: 0;
  appearance: none;
  transition: all 0.2s ease-in-out;
}
.form-label fieldset {
  position: relative;
}
h1 {
  color: #212121;
}
.form-label fieldset:first-child input {
  border-radius: 4px 4px 0 0;
}
.form-label fieldset:last-child input {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
.form-label fieldset + fieldset {
  border-top: 1px solid #ddd;
}
.form-label label {
  position: absolute;
  top: 15px;
  left: 8px;
  color: #909090;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}
.form-css-label input[data-empty="false"],
.form-css-label input:valid,
.form-css-label input:focus {
  padding: 22px 8px 10px;
}
.form-css-label input:focus {
  outline: 0;
  background: rgba(255, 255, 255, 1);
}
.form-css-label input[data-empty="false"] + label,
.form-css-label input:valid + label,
.form-css-label input:focus + label {
  color: #5856d6;
  font-weight: 700;
  font-size: 12px;
  transform: translate3d(0, -10px, 0);
}
.form-js-label input[data-empty="false"],
.form-js-label input:focus {
  padding: 22px 8px 10px;
}
.form-js-label input:focus {
  outline: 0;
  background: rgba(255, 255, 255, 1);
}
.form-js-label input[data-empty="false"] + label,
.form-js-label input:focus + label {
  color: #5856d6;
  font-weight: 700;
  font-size: 12px;
  transform: translate3d(0, -10px, 0);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font: 16px "Lato", sans-serif;
  font-weight: 200;
  background-color: #35858b;
  background-size: cover;
  color: #35858b;
}

.section {
  width: 80%;
  min-width: 320px;
  margin: 100px auto;
  text-align: center;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.section h2 {
  margin: 0 0 0.5em;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}
.section p {
  margin: 0 0 1em;
}
.section form {
  max-width: 320px;
  margin: 0 auto 20px;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.btn {
  width: 140px;
  height: 45px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #131212;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  background-color: #26c941;
  box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}
