html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: #35858b;
}

.hero{
  background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
  padding-top: 120px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: static;
  overflow: hidden;
  
}

.conte{
  display: flex;
  width: 100%;
  justify-content: center;
}

.textos-hero{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
.hero h1{
  font-size: 10rem;
  padding-bottom: 100px;
}

.sv-hero{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}



