<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">
          Administracion de libros
          <div class="line"></div>
        </div>
        <div class="container">
          <div class="table">
            <table cellspacing="0" cellpadding="0">
              <thead>
                <!-- <tr>
                  <td colspan="2"><font class="header">Libros</font> </td>
                  <td colspan="2">
                    <input class="search" placeholder="Search..." />
                  </td>
                </tr> -->
                <tr>
                  <td>ISBN</td>
                  <td>Titulo</td>
                  <td>Fecha publicacion</td>
                  <td>Autor</td>
                  <td>Categoria</td>
                  <td>Reseña</td>
                  <td>Edicion</td>
                  <td>Editorial</td>
                  <td>Editar</td>
                  <td>Eliminar</td>
                </tr>
              </thead>
              <tbody>
                <!-- <?php
                    foreach($data["libros"] as $data){
                        echo "<tr>";
                            echo "<td>".$data["ISBN"]."</td>";
                            echo "<td>".$data["titulo"]."</td>";
                            echo "<td>".$data["Fecha publicacion"]."</td>";
                            echo "<td>".$data["Autor"]."</td>";
                            echo "<td>".$data["Categoria"]."</td>";
                            echo "<td>".$data["Reseña"]."</td>";
                            echo "<td>".$data["Edicion"]."</td>";
                            echo "<td>".$data["Editorial"]."</td>";
                            echo "<td>".$data["Editar"]."</td>";
                            echo "<td>".$data["Eliminar"]."</td>";
                        echo "</tr>";
                    }
                ?> -->
                <tr>
                  <td>test@testa.me</td>
                  <td>Maxime Nienow</td>
                  <td>Adminsda.a</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>adadss@sdadsa.me</td>
                  <td>Lorem Nienow</td>
                  <td>daLorem.t</td>
                  <td>2</td>
                </tr>
                <tr class="success">
                  <td>dasdas@dsd.me</td>
                  <td>Maxime Lorem</td>
                  <td>Maximeda.L</td>
                  <td>3</td>
                </tr>
              </tbody>
              <tfoot>
                <!-- <tr>
                  <td colspan="100%">
                    <div class="pagination">
                      <div class="page active">1</div>
                      <div class="page">2</div>
                      <div class="page">3</div>
                      <div class="page">4</div>
                      <div class="page">5</div>
                    </div>
                  </td>
                </tr> -->
              </tfoot>
            </table>
          </div>
        </div>
      </div>
</body>
</html>